<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Pet Marketplace</title>
<link rel="stylesheet" href="{{ url_for('static', filename='/css/ngo-displaypage.css') }}">
</head>
<body>

<div class="container">
    <div class="section">
        <h2 class="section-title">Adoption Partnerships</h2>
        <p>Collaborate with animal rescue organizations and shelters to feature their adoptable pets on our platform.</p>
         <a href="/ngo_adoption"><button class="button" type="button">Learn More</button></a>
    </div>

    <div class="section">
        <h2 class="section-title">Donation Channels</h2>
        <p>Provide a platform for NGOs to receive donations from users who want to support animal welfare causes.</p>
        <a href="/ngo_donation"><button class="button">Donate Now</button></a>
    </div>

    <div class="section">
        <h2 class="section-title">Educational Resources</h2>
        <p>Offer a section dedicated to educational resources provided by NGOs, such as pet care tips, training advice, and information about responsible pet ownership.</p>
        <a href="/ngo_education"><button class="button">Explore Resources</button></a>
    </div>

    <div class="section">
        <h2 class="section-title">Volunteer Opportunities</h2>
        <p>Facilitate volunteer recruitment by allowing NGOs to post volunteer opportunities on our website.</p>
        <a href="/ngo_volunteer"><button class="button">Get Involved</button></a>
    </div>

    <div class="section">
        <h2 class="section-title">Rescue Alerts</h2>
        <p>Enable NGOs to post alerts about lost or found pets, enabling swift community response and reuniting lost pets with their owners.</p>
        <a href="/ngo_rescue"><button class="button">Alerts</button></a>
    </div>
</div>

</body>
</html>